@charset "UTF-8";
/*-----------------------------------------------------------
div
------------------------------------------------------------*/
div {
  text-align:left;
  }
/*-----------------------------------------------------------
clearfix
------------------------------------------------------------*/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  line-height:0;
  }
.clearfix { display: inline-block; }
/* exlude MacIE5 _*/
* html .clearfix { height: 1% }
.clearfix {display:block;}
/* end MacIE5 */
/*-----------------------------------------------------------
img
------------------------------------------------------------*/
img {
  margin:0;
  padding:0;
  vertical-align:bottom;
  border-width:0;
  border-style:none;
  }	
table img {
  margin:0;
  padding:0;
  vertical-align:bottom;
  border-width:0;
  border-style:none;
  }
/*-----------------------------------------------------------
p
------------------------------------------------------------*/
p {
  margin:0;
  padding:0;
  }
h1,h2,h3,h4,h5,h6 {
	margin:0;
	padding:0;
	clear: both;
	font-size: 100%;
	font-weight: normal;
	}
.bold {
  font-weight: bold;
  }
.red{
	color:#AD2D2A;
	}
.underLine{
	text-decoration: underline !important;
	}

/*-----------------------------------------------------------
ul
------------------------------------------------------------*/
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  }

/*-----------------------------------------------------------
Link
------------------------------------------------------------*/	
a:link {
  color:#262626;
  text-decoration:none;
  }	
a:visited {
  color:#262626;
  text-decoration:none;
  }
a:hover {
  color:#aaa;
  text-decoration:none;
  -moz-transition: all 0.26s ease-out;
  -o-transition: all 0.26s ease-out;
  -webkit-transition: all 0.26s ease-out;
  -ms-transition: all 0.26s ease-out;
}
a:active {
  color:#262626;
  text-decoration:none;
  }
/*-----------------------------------------------------------
margin
------------------------------------------------------------*/
.t0b3 { margin:0 0 3px 0; overflow:hidden; }
.t0b4 { margin:0 0 4px 0; overflow:hidden; }
.t0b5 { margin:0 0 5px 0; overflow:hidden; }
.t0b7 { margin:0 0 7px 0; overflow:hidden; }
.t0b10 { margin:0 0 10px 0; overflow:hidden; }
.t0b15 { margin:0 0 15px 0; overflow:hidden; }
.t0b17 { margin:0 0 17px 0; overflow:hidden; }
.t0b20 { margin:0 0 20px 0; overflow:hidden; }
.t0b25 { margin:0 0 25px 0; overflow:hidden; }
.t0b30 { margin:0 0 30px 0; overflow:hidden; }
.t0b35 { margin:0 0 35px 0; overflow:hidden; }
.t0b40 { margin:0 0 40px 0; overflow:hidden; }
.t0b50 { margin:0 0 50px 0; overflow:hidden; }
.t0b55 { margin:0 0 55px 0; overflow:hidden; }
.t0b60 { margin:0 0 60px 0; overflow:hidden; }
.t0b65 { margin:0 0 65px 0; overflow:hidden; }
.t0b70 { margin:0 0 70px 0; overflow:hidden; }
.t0b80 { margin:0 0 80px 0; overflow:hidden; }
.t0b90 { margin:0 0 90px 0; overflow:hidden; }
.t0b100 { margin:0 0 100px 0; overflow:hidden; }

.t3b0 { margin:3px 0 0 0; overflow:hidden; }
.t5b0 { margin:5px 0 0 0; overflow:hidden; }
.t5b10 { margin:5px 0 10px 0; overflow:hidden; }
.t5b20 { margin:5px 0 20px 0; overflow:hidden; }
.t5b30 { margin:5px 0 30px 0; overflow:hidden; }

.t10b0 { margin:10px 0 0 0; overflow:hidden; }
.t10b10 { margin:10px 0; overflow:hidden; }
.t10b20 { margin:10px 0 20px 0; overflow:hidden; }
.t10b30 { margin:10px 0 30px 0; overflow:hidden; }
.t10b40 { margin:10px 0 40px 0; overflow:hidden; }

.t7b0 { margin:7px 0 0 0; overflow:hidden; }
.t12b0 { margin:12px 0 0 0; overflow:hidden; }
.t15b0 { margin:15px 0 0 0; overflow:hidden; }
.t17b0 { margin:17px 0 0 0; overflow:hidden; }

.t20b0 { margin:20px 0 0 0; overflow:hidden; }
.t20b5 { margin:20px 0 5px 0; overflow:hidden; }
.t20b10 { margin:20px 0 10px 0; overflow:hidden; }
.t20b20 { margin:20px 0; overflow:hidden; }

.t30b0 { margin:30px 0 0 0; overflow:hidden; }
.t30b5 { margin:30px 0 5px 0; overflow:hidden; }
.t30b10 { margin:30px 0 10px 0; overflow:hidden; }
.t30b20 { margin:30px 0 20px 0; overflow:hidden; }
.t30b30 { margin:30px 0; overflow:hidden; }

.t60b0 { margin:60px 0 0 0; overflow:hidden; }
.t50b0 { margin:50px 0 0 0; overflow:hidden; }
.t45b0 { margin:45px 0 0 0; overflow:hidden; }
.t45b22 { margin:45px 0 22px 0; overflow:hidden; }

.mr8{ margin: 0 8px 0 0; }
.mr10{ margin: 0 10px 0 0; }
.mr12{ margin: 0 12px 0 0; }
.mr20{ margin: 0 20px 0 0; }
.mr25{ margin: 0 25px 0 0; }
.mr30{ margin: 0 30px 0 0; }
.mr40{ margin: 0 40px 0 0; }
.mr50{ margin: 0 50px 0 0; }

.ml2{ margin: 0 0 0 2px; }
.ml5{ margin: 0 0 0 5px; }
.ml7{ margin: 0 0 0 7px; }
.ml10{ margin: 0 0 0 10px; }
.ml20{ margin: 0 0 0 20px; }
.ml30{ margin: 0 0 0 30px; }
.ml40{ margin: 0 0 0 40px; }
.ml45{ margin: 0 0 0 45px; }
.ml50{ margin: 0 0 0 50px; }
.ml60{ margin: 0 0 0 60px; }
.ml100{ margin: 0 0 0 100px; }
.ml150{ margin: 0 0 0 150px; }
.ml190{ margin: 0 0 0 190px; }
.mcenter{
	margin: 0 auto;
	}

/*-----------------------------------------------------------
padding
------------------------------------------------------------*/
.p10b10 { padding:10px 0; overflow:hidden; }
.p20b20 { padding:20px 0; overflow:hidden; }
.p30b30 { padding:30px 0; overflow:hidden; }
.p40b40 { padding:40px 0; overflow:hidden; }
.p50b50 { padding:50px 0; overflow:hidden; }

.p0b3 { padding: 0 0 3px 0; overflow:hidden; }
.p0b10 { padding: 0 0 10px 0; overflow:hidden; }
.p0b20 { padding: 0 0 20px 0; overflow:hidden; }
.p0b30 { padding: 0 0 30px 0; overflow:hidden; }
.p0b40 { padding: 0 0 40px 0; overflow:hidden; }
.p0b50 { padding: 0 0 50px 0; overflow:hidden; }

/*-----------------------------------------------------------
WIDTH
------------------------------------------------------------*/
.w100{ width:100px; }
.w150{ width:150px; }
.w200{ width:200px; }
.w250{ width:250px; }
.w300{ width:300px; }
.w350{ width:350px; }
.w400{ width:400px; }
.w450{ width:450px; }
.w500{ width:500px; }
.w550{ width:550px; }
.w600{ width:600px; }
.w650{ width:650px; }
.w700{ width:700px; }

/*-----------------------------------------------------------
FONT
------------------------------------------------------------*/
.font10{ font-size: 10px; }
.font11{ font-size: 11px; }
.font12{ font-size: 12px; }
.font13{ font-size: 13px; }
.font14{ font-size: 14px; }
.font15{ font-size: 15px; }
.font16{ font-size: 16px; }
.font17{ font-size: 17px; }
.font18{ font-size: 18px; }
.font19{ font-size: 19px; }
.font20{ font-size: 20px; }
/*-----------------------------------------------------------
LINE HEIGHT
------------------------------------------------------------*/
.line100{ line-height: 100%; }
.line110{ line-height: 110%; }
.line120{ line-height: 120%; }
.line130{ line-height: 130%; }
.line140{ line-height: 140%; }
.line150{ line-height: 150%; }
.line160{ line-height: 160%; }
.line170{ line-height: 170%; }
.line180{ line-height: 180%; }
.line190{ line-height: 190%; }
.line200{ line-height: 200%; }

/*-----------------------------------------------------------
FLOAT
------------------------------------------------------------*/
.floatL{
  float: left;
  display:inline-block; 
  }
.floatR{
  float: right;
  display:inline-block; 
  }
/*-----------------------------------------------------------
BORDER
------------------------------------------------------------*/
.bbSolid{
  border-bottom: 1px solid #aaa;
  }
.bbDott{
  border-bottom: 1px dotted #aaa;
  }
.imgBorder{
  border: solid #eee 5px;
  }
/*-----------------------------------------------------------
Text-Align
------------------------------------------------------------*/
.left{
	text-align: left;
	}
.center{
	text-align: center;
	}
.right{
	text-align: right;
	}

/*-----------------------------------------------------------
Body
-------------------------------------------------------------*/
body {
		width: 100%;
		margin:0;
		padding:0;
		text-align:center;
		line-height:145%;
		letter-spacing:0.05em;
		font-family: "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic Pro", "MSゴシック", Meiryo, Osaka, "MS PGothic", sans-serif;
		font-size:75%;
		height:100%;
  }
#sideBtn {
	position:fixed;
	bottom:100px;
	right:0px;
	z-index: 50;
	}
/*-----------------------------------------------------------
Header
-------------------------------------------------------------*/
#header{
		width: 100%;
		text-align: left;
		background-color: #fff;
		margin-top: 0;
		margin-right: auto;
		margin-bottom: 0;
		margin-left: auto;
		padding-top: 15px;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 0;
	}
	#headerBox{
		width: 1000px;
		padding: 0 0 10px;
		margin: 0 auto;
		font-size: 10px;
		line-height: 170%;
		}
	#headerBoxIndex{
	width: 1000px;
	padding: 0;
	margin: 0 auto;
	padding: 0 17px;
	font-size: 10px;
	line-height: 170%;
	}
.headerTxt {
		font-size: 10px;
		color: #737373;
}
#hd_contact {
		float: left;
		margin-top: 10px;
		margin-right: 17px;
}
/*-----------------------------------------------------------
gNavi
-------------------------------------------------------------*/
#gNaviWrap {
		background-image: url(../../img/wrap/gNavi/bg_gNavi.jpg);
		background-repeat: repeat-x;
		height: 196px;
		width: 100%;
		z-index: -10;
}
		#gNaviInner {
		width: 1000px;
		margin: 0px auto;
		}
		#gNaviInnerIndex {
		width: 1000px;
		margin: 0px auto;
		padding: 0 17px;
		}
			.gnavi_btn01 {
					margin-right: 40px;
					float: left;
			}
			.gnavi_btn02 {
					float: left;
			}
#gNavi_bg {
		background-image: url(../../img/wrap/gNavi/gNavi_bg.png);
		background-repeat: repeat-x;
		width: 100%;
		z-index: -20;
		padding-top:10px;
		text-align:center;
}

					

/*-----------------------------------------------------------
Main Image
-------------------------------------------------------------*/
#mainV {
		position:relative;
		width: 1000px;
		height:285px;
		margin:  0 auto;
		background: url(../../img/wrap/mainV/mainV1.jpg) no-repeat center 0;
}
#mainVWrap{
		width: 1034px;
		margin:  0 auto;
}
#mainV img{display:none;}

/*-----------------------------------------------------------
SNS
------------------------------------------------------------*/
#SNS{
  height: 30px;
  padding: 0;
  text-align: right;
  margin: 0 auto;
  }
	#SNStop {
	  height: 30px;
	  text-align: right;
	  margin: 0 auto;
		display: inline-block;
	  }
		.iineBtn-g {
		  width: 70px;
		  height: 28px;
		  margin: 0;
		  padding: 0;
		  float: left;
		  }
		.iineBtn-tw {
		  width: 90px;
		  height: 28px;
		  margin: 0;
		  padding: 0;
		  float: left;
		  }
		.iineBtn-fb {
		  height: 28px;
		  margin: 0;
		  padding: 0;
		  float: left;
		  }
/*-----------------------------------------------------------
 Container/Maincontent
------------------------------------------------------------*/	
#container{
  width: 1000px;
  height: auto;
  padding: 0;
  text-align: center;
  margin: 0 auto 75px;
  }
#mainContent {
		margin-top: 37px;
		width: 1000px;
}
#mainlawer {
		width: 800px;
		float: left;
}
	#containerIndex{
  width: 1034px;
  height: auto;
  padding: 0;
  text-align: center;
  margin: 0 auto 75px;
  }
#mainContentIndex {
		margin: 37px 0 0 17px;
		width: 1034px;
}
/*-----------------------------------------------------------
sub Navi
------------------------------------------------------------*/
#subNavi{
		float: right;
		width: 185px;
  }
.lNavi01 {
		font-size: 12px;
		color: #262626;
		background-image: url(../../img/wrap/leftNavi/lNavi_arrow.png);
		background-repeat: no-repeat;
		background-position: 1px;
		padding-left: 17px;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-bottom-color: #c9c9c9;
		padding-top: 7px;
		padding-bottom: 7px;
}
#side_blog {
		background-image: url(../../img/wrap/leftNavi/bg_lNaviBlog.png);
		width: 219px;
		height: 152px;
		background-repeat: no-repeat;
		padding-top: 10px;
		padding-left: 7px;
}
.sideBlog01 {
		float: left;
		margin-right: 8px;
		width: 101px;
		overflow: hidden;
}
.sideBlog02 {
		float: left;
		width: 101px;
		overflow: hidden;
}
		.sideBlog_img {
		width: 95px;
		padding: 2px;
		border: 1px solid #808080;
		}
		.sideBlog_date {
				font-size: 10px;
				color: #ad2d2a;
				margin-top: 5px;
		}
		.sideBlog_title {
				font-size: 12px;
				letter-spacing: 0em;
		}
#side_contact {
		border-right-width: 1px;
		border-left-width: 1px;
		border-right-style: solid;
		border-left-style: solid;
		border-right-color: #999;
		border-left-color: #999;
		text-align: center;
		margin-bottom: 20px;
		padding-top: 13px;
		padding-right: 0;
		padding-bottom: 13px;
		padding-left: 0;
}
		.sideConTxt {
				color: #808080;
				font-size: 10px;
				text-align: left;
				margin-left: 17px;
		}
#side_area {
		background-color: #e9e9e9;
		padding: 9px;
		font-size: 10px;
		color: #5e5e5e;
		line-height: 14px;
}



/*---------------------------------------------------
	#pageTop
---------------------------------------------------*/
#topLink {
	width: 30px;
	height: 29px;
   margin: 0 auto;
   padding: 0 0 0 970px;
	text-align: right;
   }
/*---------------------------------------------------
	#Footer
---------------------------------------------------*/
#FooterBody{
		height:auto;
		clear:both;
		width: 100%;
		z-index: 2;
		position: relative;
		background-color: #f7f7f7;
	}
#FooterContents {
	height:64px;
	clear:both;
	padding:13px 0 0 0;
	background-color: #E8E5E1;
	min-width: 1000px
	}
	#FooterContents ul {
		height:64px;
		width:1000px;
		margin:0px auto;
		}
	 .footerConte01 {
		float:left;
		margin-top: 0;
		margin-right: 12px;
		margin-bottom: 0;
		margin-left: 0;
		}
		.footerConte02 {
		float:left;
		}
#Footer {
		width:1000px;
		color: #666;
		margin-top: 0px;
		margin-right: auto;
		margin-bottom: 0px;
		margin-left: auto;
		padding-top: 25px;
		padding-right: 0px;
		padding-bottom: 25px;
		padding-left: 0px;
		background-color: #f7f7f7;
	}
	#FooterIndex {
		width:1000px;
		color: #666;
		margin-top: 0px;
		margin-right: auto;
		margin-bottom: 0px;
		margin-left: auto;
		padding-top: 25px;
		padding-right: 17px;
		padding-bottom: 25px;
		padding-left: 17px;
		background-color: #f7f7f7;
	}
	#Footer a{
		color:#6e6a51;
		text-decoration:none;
		}
	#Footer a:hover{
		color:#aaa58f;
		text-decoration:none;
		}
		.ftTxt{
		font-size: 12px;
		line-height: 24px;
		color: #666666;
			}
		.ftTxt2{
		width:196px;
		background: url(../../img/wrap/footer/ft-arrow.png) 0 5px no-repeat;
		font-size: 10px;
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 4px;
		margin-left: 0;
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 4px;
		padding-left: 12px;
		border-bottom-width: 1px;
		border-bottom-style: dotted;
		border-bottom-color: #8c8c8c;
			}
#FooterArea {
		background-color: #f7f7f7;
		color: #999;
		font-size: 10px;
		line-height: 15px;
		clear: both;
		padding: 0px;
		margin-left: 150px;
	}


/*---------------------------------------------------
	#FooterBottom
---------------------------------------------------*/
#FooterBottom {
	background-color: #FFF;
	z-index: 2;
   position: relative;
}
#copy {
	clear:both;
	color:#666666;
	text-align:center;
	padding:15px 0px;
	font-size: 10px;
}
#copy a {
	color:#666666;
	text-decoration: none;
}
#copy a:hover {
	color:#666666;
	text-decoration: none;
}
/*----------------------------------------------------------*/
div#pageBoot {
     margin: 35px 0;
     text-align: center;
     }
div#pageBoot a {
     color: #111111;
     text-decoration: underline !important;
     }
span.current_page {
     color: #FFFFFF;
     padding:2px 3px;
     border:0px solid #111111;
     background-color: #111111;
     }
#pageBootBox {
		text-align: center;
}
a.link_page {
     padding:2px 3px;
     border:0px solid #111111 !important;
     }
a.link_page:hover {
     padding:2px 3px;
     border:0px solid #111111;
     background-color:#111111;
     color:#FFFFFF !important;
     }

/*-----------------------------------------------------------
pankuzu
------------------------------------------------------------*/
#punkz_wrap {
		text-align: right !important;
}
#punkuz{
		margin: 10px 0;
		display: inline-block;
  }
#punkuz li{
  float: left;
  }
#punkuz .home{
		padding: 0 0 0 18px;
		margin: 0 8px 0 0;
		color: #262626;
		font-size: 10px;
		background-repeat: no-repeat;
		background-position: 0 0;
  }
#punkuz .next{
		background-image: url(../../img/contents/punkz_arrow.gif);
		background-repeat: no-repeat;
		background-position: 0 2px;
		padding-top: 0;
		padding-right: 7px;
		padding-bottom: 0;
		padding-left: 15px;
		color: #808080;
		font-size: 10px;
  }
