/********************************************
 * スマホ用CSS
 ********************************************/
.header-top {
	margin: 0 auto;
	text-align: center;
	width: 320px;
	height: 220px;
}

.logo {
	float: left;
	color: #000;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 0px;
	width: 100px;
	height: 100px;
}

.logo2 {
	float: left;
	color: #000;
	margin-top: 15px;
	margin-bottom: 0px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	width: 220px;
	height: 80px;
}

.logo3 {
	float: right;
	color: #404040;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 300px;
	height: 80px;
	font-size: small;
}

.top-img {
	clear: both;
	position: relative;
	color: #fff;
	text-align: center;
}

.slider-wrapper {
	width: 100%;
	height: 400px; /*557*/
}

.contents {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	width: 270px;
}

.menu, .shop, .info {
	position: relative;
	background: #FFFFEE;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	float: left;
	width: 260px;
	height: 310px;
	margin: 15px 5px 15px 5px;
	padding: 15px;
}

#fb_image {
	width:100%;
	height:171px;
	overflow:hidden;  /* これが重要 */
}

.news_data, .shop_data {
	position: relative;
	margin: 0 auto;
	text-align: center;
	width: 320px;
}

.news_detail {
	
	position: relative;
	margin: 0 auto;
	text-align: center;
	width: 90%;
	height: 300px;
	
	background-image: url('../img/cork0.jpg');
	border: 10px solid #FFFFEE;
    border-collapse: separate;
    border-spacing: 2px;
    z-index: 1;
}

.news_pin {
	position: relative;
	margin: 0 auto;
	text-align: left;
	color: #011;
    margin-top: 20px;
	width: 240px;
	height: 80px;
	
	background: #eee url('../img/fusen-red.gif') repeat-y right top;

}

.news_pin:after {
	background-color: #eee;
    
    width:140px; /* 擬似要素の幅  */
    height:70px; /* 擬似要素の高さ  */
    content: ""; /* 擬似要素の内容 */
    position: absolute; /* 位置指定 */
    top: 5px; /* 上から */
    right: 3px; /* 右から */
    -webkit-box-shadow: 0 5px 5px #555 ;
    -moz-box-shadow: 0 5px 5px #555 ;
    box-shadow: 0 10px 5px #555 ;
    -webkit-transform: rotate(2deg); /* ズラす（Chrome、Safari） */
    -moz-transform: rotate(2deg); /* ズラす（FireFox） */
    -o-transform: rotate(2deg); /* ズラす（Opera） */
    -ms-transform: rotate(2deg); /* ズラす（IE） */
    transform: rotate(2deg); /* ズラす（CSS3） */
    z-index: -1;
}

.pin_body {
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	padding-top: 10px;
	padding-right: 15px;
	color: #808080;
	font-weight: bold;
}

.pin_logo {
	position: relative;
	width: 70px;
	top: 96px;
	left: 88px;
}

.topBoxTitle {
	font-size: 12px;
	color: #808080;
	font-weight: bold;
}


table.shop {
	background-color: #FFFFFF;
	border-bottom: 1px solid #FF9933;
	border-collapse: separate;
	border-spacing: 2px;
	border-top: 1px solid #FF9933;
	empty-cells: show;
	font-size: 12px;
	margin-top: 20px;
	margin-left: 10px;
	width: 300px;
}

