/********************************************
 * タブレット用CSS
 ********************************************/
.header-top {
	margin: 0 auto;
	text-align: center;
	width: 600px;
}

.logo {
	float: left;
	color: #000;
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100px;
	height: 100px;
}

.logo2 {
	float: left;
	color: #000;
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	width: 250px;
	height: 80px;
}

.logo3 {
	float: left;
	color: #404040;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 250px;
	height: 80px;
	font-size: small;
}

.top-img {
	clear: both;
	position: relative;
	color: #fff;
	text-align: center;
}

.slider-wrapper {
	width: 100%;
	height: 100%; /*557*/
}

.contents {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	width: 600px;
}

.menu, .shop, .info {
	position: relative;
	background: #FFFFEE;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	float: left;
	width: 280px;
	height: 320px;
	margin: 15px 10px 15px 10px;
	padding: 15px;
}

.shop_data {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	width: 600px;
}

table.shop {
	background-color: #FFFFFF;
	border-bottom: 1px solid #FF9933;
	border-collapse: separate;
	border-spacing: 2px;
	border-top: 1px solid #FF9933;
	empty-cells: show;
	font-size: 12px;
	margin-top: 20px;
	margin-left: 25px;
	width: 550px;
}

