/********************************************
 * タブレット用CSS
 ********************************************/
.header-top {
	margin: 0 auto;
	text-align: center;
	width: 600px;
}

.logo {
	float: left;
	color: #000;
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100px;
	height: 100px;
}

.logo2 {
	float: left;
	color: #000;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	width: 250px;
	height: 80px;
}

.logo3 {
	float: left;
	color: #404040;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 250px;
	height: 80px;
	font-size: small;
}

.top-img {
	clear: both;
	position: relative;
	color: #fff;
	text-align: center;
}

.slider-wrapper {
	width: 100%;
	height: 100%; /*557*/
}

.contents {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	width: 600px;
}

.menu, .shop, .info {
	position: relative;
	background: #FFFFEE;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	float: left;
	width: 280px;
	height: 320px;
	margin: 15px 10px 15px 10px;
	padding: 15px;
}

#fb_image {
	width:100%;
	height:186px;
	overflow:hidden;  /* これが重要 */
}


.news_data, .shop_data {
	position: relative;
	margin: 0 auto;
	text-align: center;
	width: 500px;
}

.news_detail {
	
	position: relative;
	margin: 0 auto;
	text-align: center;
	width: 90%;
	height: 400px;
	
	padding-top: 20px;
	background-image: url('../img/cork2.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: contain;
	/*border: 20px solid #FFFFEE;
    border-collapse: separate;
    border-spacing: 2px;*/
    z-index: 1;
}

.news_pin {
	position: relative;
	margin: 0 auto;
	text-align: left;
	color: #011;
    margin-top: 20px;
	width: 300px;
	height: 80px;
	
	background: #eee url('../img/fusen-red.gif') repeat-y right top;

}

.news_pin:after {
	background-color: #eee;
    
    width:200px; /* 擬似要素の幅  */
    height:70px; /* 擬似要素の高さ  */
    content: ""; /* 擬似要素の内容 */
    position: absolute; /* 位置指定 */
    top: 5px; /* 上から */
    right: 3px; /* 右から */
    -webkit-box-shadow: 0 5px 5px #555 ;
    -moz-box-shadow: 0 5px 5px #555 ;
    box-shadow: 0 10px 5px #555 ;
    -webkit-transform: rotate(2deg); /* ズラす（Chrome、Safari） */
    -moz-transform: rotate(2deg); /* ズラす（FireFox） */
    -o-transform: rotate(2deg); /* ズラす（Opera） */
    -ms-transform: rotate(2deg); /* ズラす（IE） */
    transform: rotate(2deg); /* ズラす（CSS3） */
    z-index: -1;
}

.pin_body {
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	color: #808080;
	font-weight: bold;
}

.pin_logo {
	position: relative;
	width: 80px;
	top: 170px;
	left: 135px;
}

table.shop {
	background-color: #FFFFFF;
	border-bottom: 1px solid #FF9933;
	border-collapse: separate;
	border-spacing: 2px;
	border-top: 1px solid #FF9933;
	empty-cells: show;
	font-size: 12px;
	margin-top: 20px;
	margin-left: 25px;
	width: 550px;
}

